@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(230, 17%, 14%);
  color: white;
  height: 100vh;
  cursor: pointer;
}

.main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 59%;
  height: 80%;
  padding: 20px;
  margin: 70px auto;
}

.head {
  display: flex;
  width: 100%;
  height: 100px;
  float: right;
}
.es {
  margin-left: 25%;
  margin-top: 10px;
  /* float: right; */
  text-transform: capitalize;
  color: hsl(227, 47%, 96%);
}
.but {
  margin-left: 1%;
  margin-bottom: 60px;
  /* float: right; */
  text-transform: capitalize;
  color: hsl(227, 47%, 96%);
}

.cola {
  background-color: hsl(228, 28%, 20%);
  display: flex;
  border-top: 4px solid hsl(208, 92%, 53%);
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  justify-content: center;
}
.colb {
  background-color: hsl(228, 28%, 20%);
  border-top: 4px solid hsl(203, 89%, 53%);
  display: flex;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  justify-content: center;
}
.colc {
  border-top: 4px solid hsl(329, 70%, 58%);
  border-color: line;
  background-color: hsl(228, 28%, 20%);
  display: flex;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  justify-content: center;
}
.cold {
  border-top: 4px solid hsl(348, 97%, 39%);
  background-color: hsl(228, 28%, 20%);
  display: flex;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  justify-content: center;
}
.p {
  font-size: 25px;
  letter-spacing: 0.1em;
  color: hsl(227, 47%, 96%);
  font-weight: bold;
}
.princip {
  color: hsl(228, 15%, 80%);
}
.en {
  color: hsl(163, 72%, 41%);
}
.en1 {
  color: hsl(356, 69%, 56%);
}
p {
  color: hsl(228, 12%, 44%);
}
.so {
  font-size: 15px;
  color: hsl(228, 12%, 44%);
}
.li {
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.col1 {
  display: flex;
  align-items: start;
  margin-top: 20px;
  margin-left: 20px;
}
.col1 img {
  width: 20px;
  height: 20px;
  align-items: center;
}
.col2 {
  display: flex;
  margin-top: 70%;
  align-items: center;
  justify-content: left;
  margin-left: -40%;
  font-size: 10px;
}
.col2 img {
  width: 8px;
  height: 4px;
}
.bloc1 {
  font-size: 25px;
  width: 100px;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
  margin-left: -50%;
  text-align: center;
}
.containner {
  width: 100%;
  height: 48%;
  display: flex;
  flex-wrap: wrap;
}
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  margin-top: 2%;
  margin-right: 50%;
  margin-left: 0%;
}
.col3 {
  width: 200px;
  background-color: hsl(228, 28%, 20%);
  height: 100px;
  display: flex;
  gap: 30px;
}
.cleft {
  float: left;

  width: 30%;
}
.crigth {
  float: left;

  width: 70%;
}
.crigth p {
  margin-top: 0px;
  margin-left: 2px;
}
.icon {
  margin-top: 40px;
  display: flex;
  font-size: 15px;
}
.cleft img {
  margin-top: 7px;
  margin-left: 0px;
}
.icon img {
  width: 8px;
  height: 4px;
  margin-top: 6px;
}
.par {
  margin-top: 35px;
  font-size: 15px;
}

@media screen and (max-width: 1440px) {
  .main {
    width: 65%;
  }
}
@media screen and (max-width: 380px) {
  .main {
    width: 80% !important;
    height: 300% !important;
    border-radius: 0px !important;
    border-color: white !important;
  }
  .head {
    display: block !important;
    border-bottom: 8px solid red !important;
  }
  .title {
    display: inline-block !important;
    margin-bottom: 50px !important;
  }
  .title h1 {
    font-size: 24px !important;
  }
  .head .es {
    margin-top: 10% !important;
    margin-left: 60px !important;
  }
  .head .but {
    margin-left: 65% !important;
    margin-top: -20px !important;
  }
  .li {
    display: inline-block !important;
    margin-top: 20px !important;
    margin: 70px 30px !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .cola,
  .colb,
  .colc,
  .cold {
    margin-left: -30px !important;
    width: 69% !important;
    height: 25%;
  }
  .containner {
    display: inline-block !important;
  }
  .row {
    display: inline-block !important;
    padding: 20px !important;
    gap: 40px !important;
    height: 10% !important;
  }
  .col3 {
    display: inline-block !important;
    /* margin: 3px; */
    margin-right: 10px !important;
    margin-left: -24px !important;
    width: 300% !important;
  }
}
